@import 'styles/utils.scss';

.login {
  &__container {
    width: 100%;
    height: 100%;
    @include flexCenter();
    flex-direction: column;
  }

  &__description {
    width: 60%;
    margin-bottom: $margin-xxl;

    &--bold {
      font-weight: $font-weight-semi-bold;
    }

    p {
      color: $color-text-black-base;
    }
  }

  &__button {
    border-radius: $border-radius-rounded;
    font-size: $font-size-s;
    letter-spacing: $letter-spacing-l;
    text-transform: uppercase;
    will-change: transform;
    padding: $padding-sm $padding-xl;
    transition: transform 0.1s ease-in;
    transform: perspective(1px) scale(1) translateZ(0);
    &:hover {
      transform: perspective(1px) scale(1.01) translateZ(0);
    }
  }
}
