.toast {
  display: flex;
  align-items: center;
  column-gap: 15px;
  background-color: #35495e;
  border-radius: 6px;
  padding: 12px 12px 12px 20px;
  border: 1px solid #3c5e83;
  transition: all 0.3s ease;

  &Message {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
  }

  &CloseButton {
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &CloseIcon {
    color: #fff;
    font-size: 14px;
  }

  &Success {
    background-color: #5cb85c;
    border-color: #4cae4c;

    .toastMessage {
      color: #fff;
    }
  }

  &Error {
    background-color: #d95350;
    border-color: #d5403b;

    .toastMessage {
      color: #fff;
    }
  }
}
