@import '../utils.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px 0;

  &Loading {
    height: 100%;
  }
}

.collageLinks {
  display: flex;
  align-items: center;
  column-gap: 35px;
}

.collageLink {
  text-decoration: underline;
  color: #037af4;
  font-weight: $font-weight-semi-bold;
}

.canvas {
  width: 100%;
  height: 100%;
  max-width: 80%;
}

@media #{$max-width-3} {
  .canvas {
    max-width: 90%;
  }
}

@media #{$max-width-1} {
  .canvas {
    max-width: 100%;
  }
}
