@import '../utils.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px 32px;

  &Loading {
    height: 100%;
  }
}

.collageSubHeader {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 35px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.collageSubHeaderWithButton {
  justify-content: space-between;
}

.collageLinks {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.collageLink {
  appearance: none;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: #fff;
  color: $color-link;
  font-size: $font-size-s;
  font-weight: $font-weight-semi-bold;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }

  span {
    border-bottom: 1px solid transparent;
    transition: border-color 0.1s ease-in-out;
  }

  &:hover span {
    border-color: $color-link;
  }
}

.collageLinkIcon {
  color: $color-link;
  font-size: $font-size-xs;
}

.canvas {
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

@media #{$max-width-3} {
  .canvas,
  .collageSubHeader {
    max-width: 90%;
  }

  .collageSubHeader button:not(.collageLink) {
    padding: 5px 18px;
  }

  .collageLinks {
    column-gap: 15px;
  }

  .container {
    row-gap: 15px;
    padding: 20px 16px;
  }
}

@media #{$max-width-1} {
  .canvas,
  .collageSubHeader {
    max-width: 100%;
  }

  .collageLinks {
    column-gap: 10px;
  }

  .container {
    row-gap: 10px;
    padding: 20px 0;
  }
}
