@import '../utils.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
}

.formFooter {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
}

.formGroupSingle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 2;
  column-gap: 20px;
}

.formFieldWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.formField {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & + .formGroupSingle {
    margin-top: 5px;
  }
}

.formFieldHorizontal {
  display: flex;
  column-gap: 15px;
}

.formFieldTitle {
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin: 0;
}

.formFieldLabel {
  min-width: 50px;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: $font-size-s;
  font-weight: $font-weight-semi-bold;
}

@media #{$max-width-2} {
  .formGroupSingle {
    grid-template-columns: 1fr;
    grid-column: unset;
  }

  .formGroup {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
