// Typography
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

// Abstracts
@import 'abstracts/variables';

// Base
@import 'base/base';
@import 'base/normalize';
