@import 'styles/utils.scss';

.select {
  font-family: $font-secondary;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  &Wrapper {
    width: 100%;
    position: relative;
  }

  &Trigger {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    background-color: $background-color-field;
    border: 1px solid $border-color-field;
    border-radius: 4px;
    padding: 0.475rem 0.75rem;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &Disabled {
      cursor: not-allowed;
      background-color: $background-color-disabled-field;
    }

    &Error {
      box-shadow: 0 0 0 3px $border-color-primary;
    }
  }

  &Value {
    color: $color-text-field;
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Placeholder {
    color: $placeholder-color-field;
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: normal;
    white-space: nowrap;
  }

  &Caret {
    font-size: $font-size-m;
    color: $color-text-field;
    transition: transform 0.2s ease;

    &Visible {
      transform: rotate(180deg);
    }
  }

  &OptionsWrapper {
    display: none;
    min-width: 150px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: $background-color-field;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    z-index: 10;

    &Active {
      display: block;
    }
  }

  &Options {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }

  &Option {
    color: $color-text-field;
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    padding: 8px 15px;
    display: block;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #f3f6f8;
    }

    &Active {
      background-color: #dde9f0;
      font-weight: 600;
    }

    &Disabled {
      color: $color-text-disabled-field;
      cursor: not-allowed;
    }
  }

  &ErrorMessage {
    color: $color-primary;
    font-size: $font-size-s;
  }
}
