@import 'styles/utils.scss';

.container {
  top: 0;
  position: sticky;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: $spacing-xs $spacing-m;
  color: $color-text-white-base;
  box-shadow: $box-shadow-header;
  background: $color-primary
    linear-gradient($color-primary, $color-primary-dark);
  border: 1px solid $border-color-primary;
  border-bottom: 1px solid $border-color-primary-dark;
}

.title {
  text-decoration: none;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 30px;
  font-weight: $font-weight-semi-bold;
  user-select: none;

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: 0;
  }

  span {
    margin-top: 4px;
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  a {
    display: none;
    text-decoration: none;
    color: white;
  }
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin-left: 1px;
}

.logo {
  height: 0.78em;
  fill: white !important;

  path {
    fill: white !important;
  }
}

@media #{$min-width-2} {
  .user a {
    display: block;
  }
}
